<div class="row-fluid">
  <div class="col-xs-12 col-md-12">
    <div class="hotel-search-form">
      <div class="hotel-search-form-title">
        <p><i class="fa fa-hotel"></i>HOTÉIS</p>
      </div>
      <div class="hotel-search-form-body container-fluid">
        <div class="row-fluid">
          <h2>+ 170.000 hotéis, pousadas e resorts no mundo todo. </h2>
        </div>
        <div class="row-fluid">
          <form>
            <div class="row-fluid">
              <div class="col-xs-4 col-md-4">
                <div class="form-group">
                  <label>Quer ficar onde?</label>
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-map-marker"></i>
                    </div>
                    <input type="text" ng-model="location" placeholder="cidade ou hotel"
                           typeahead="location.object.name for location in typeaheadLocation($viewValue)"
                           typeahead-on-select="typeaheadSelected($item, $model, $label)" class="form-control">
                  </div>
                </div>
              </div>
              <div class="col-xs-8 col-md-8">
                <div class="row-fluid">
                  <div class="col-md-12">
                    <label>Quando? (Entrada e Saída)</label>
                  </div>
                </div>
                <div class="row-fluid">
                  <div class="col-xs-12 col-md-12">
                    <div class="row-fluid">
                      <div class="col-xs-6 col-md-6">
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon">
                              <a role="button" ng-click="openStartDate($event)"><i class="fa fa-calendar"></i></a>
                            </div>
                            <input datepicker-popup="dd/MM/yyyy" type="text" ng-disabled="searchParams.undefinedDates" placeholder="entrada" class="form-control" datepicker-popup
                                   ng-model="searchParams.startDate.date" is-open="searchParams.startDate.opened" />
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6 col-md-6">
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon">
                              <a role="button" ng-click="openEndDate($event)"><i class="fa fa-calendar"></i></a>
                            </div>
                            <input datepicker-popup="dd/MM/yyyy" type="text" ng-disabled="searchParams.undefinedDates" placeholder="saída" class="form-control" datepicker-popup ng-model="searchParams.endDate.date" is-open="searchParams.endDate.opened" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row-fluid">
                    <div class="col-xs-12 col-md-12">
                      <div class="checkbox">
                        <label>
                          <input ng-model="searchParams.undefinedDates" type="checkbox">Ainda não defini as datas
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-12">
                <button ng-click="search()" class="btn btn-lg btn-warning"><i class="fa fa-search "></i><span>BUSCAR</span></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="col-xs-12 col-md-12">
    <div ng-if="hotels.length > 0" class="col-xs-12 col-md-12 text-center">
      <h5 class="text-center">Exibindo página {{paginator.currentPage}} de {{paginator.totalPages}}</h5>
      <table class="table table-bordered">
        <thead>
        <th>Hotel</th>
        <th>Cidade</th>
        </thead>
        <tbody>
        <tr ng-repeat="item in hotels">
          <td>{{item.name}}</td>
          <td>{{item.city_name}}</td>
        </tr>
        </tbody>
      </table>
      <pagination total-items="paginator.totalEntries" ng-model="paginator.currentPage" max-size="paginator.perPage" class="pagination-sm" boundary-links="true" rotate="false" num-pages="paginator.totalEntries">
      </pagination>
    </div>
    <h3 ng-if="hotels.length == 0" class="text-center text-info">Nenhum hotel foi encontrado com esses critérios</h3>
  </div>
</div>

